# Data Structures

## What are Data Structures?
- Data structures are used to store, organize, and manage data efficiently.
- They allow programs to access and modify data in an effective way.

- In Python, data structures are built-in and easy to use.
- They are widely used in application development, data processing, and machine learning.

## Types of Data Structures
Python provides the following main data structures:

1. List  
2. Tuple  
3. Set  
4. Dictionary

## 1. List

- A list is an ordered and mutable collection of elements.
- Lists allow duplicate values and can store different data types.

**Syntax:**
$$
\text {list\_name} = [elements]
$$

In [1]:
numbers = [10, 20, 30, 40]
mixed = [1, "Python", 3.5, True]

print(numbers)
print(mixed)

[10, 20, 30, 40]
[1, 'Python', 3.5, True]

### List Methods

- Python provides built-in methods to perform operations on lists.
- These methods help in adding, removing, and modifying list elements.

#### 1. append()
Adds an element at the end of the list.

In [2]:
nums = [1, 2, 3]
nums.append(4)
print(nums)

[1, 2, 3, 4]

#### 2. insert()
Inserts an element at a specified position.

In [3]:
nums.insert(1, 10)
print(nums)

[1, 10, 2, 3, 4]

#### 3. extend()
Adds multiple elements to the list.

In [4]:
nums.extend([5, 6])
print(nums)

[1, 10, 2, 3, 4, 5, 6]

#### 4. remove()
Removes a specific element from the list.

In [5]:
nums.remove(10)
print(nums)

[1, 2, 3, 4, 5, 6]

#### 5. pop()
Removes and returns the last element (or element at given index).

In [6]:
nums.pop()
print(nums)

[1, 2, 3, 4, 5]

#### 6. clear()
Removes all elements from the list.

In [7]:
nums.clear()
print(nums)

[]

#### 7. index()
Returns the index of a specified element.

In [8]:
items = [10, 20, 30]
print(items.index(20))

1

#### 8. count()
Returns the number of times an element appears.

In [9]:
items = [1, 2, 2, 3]
print(items.count(2))

2

#### 9. sort()
Sorts the list in ascending order.

In [10]:
items = [3, 1, 4, 2]
items.sort()
print(items)

[1, 2, 3, 4]

#### 10. reverse()
Reverses the elements of the list.

In [11]:
items.reverse()
print(items)

[4, 3, 2, 1]

## 2. Tuple

- A tuple is an ordered and immutable collection of elements.
- Once created, tuple elements cannot be modified.

**Syntax:**
$$
\text {tuple\_name} = (elements)
$$

In [12]:
coordinates = (10, 20, 30)

print(coordinates)
print(type(coordinates))

(10, 20, 30)
<class 'tuple'>

### Tuple Methods

- A tuple is an ordered and immutable collection.
- Because tuples cannot be modified, they provide limited methods.

#### 1. count()
Returns the number of times an element appears in a tuple.

#### 2. index()
Returns the index of the first occurrence of an element.

In [13]:
t = (10, 20, 30)
print(t.index(20))

1

#### 3. len()
Returns the number of elements in a tuple.

In [14]:
t = (1, 2, 3, 4)
print(len(t))

4

#### 4. max()
Returns the largest element in a tuple.

In [15]:
t = (10, 50, 30)
print(max(t))

50

#### 5. min()
Returns the smallest element in a tuple.

In [16]:
t = (10, 50, 30)
print(min(t))

10

#### 6. sum()
Returns the sum of elements in a tuple.

In [17]:
t = (1, 2, 3, 4)
print(sum(t))

10

### Set

- A set is an unordered collection of unique elements.
- Sets do not allow duplicate values.

**Syntax:**
$$
\text{set\_name } = \{{elements}\}
$$

In [18]:
numbers = {10, 20, 30, 30, 40}
print(numbers)

{40, 10, 20, 30}

### Set Methods

- A set is an unordered collection of unique elements.
- Sets do not allow duplicate values and are mainly used for membership testing and mathematical operations.

#### 1. add()
Adds a single element to the set.

In [19]:
s = {1, 2, 3}
s.add(4)
print(s)

{1, 2, 3, 4}

#### 2. update()
Adds multiple elements to the set.

In [20]:
s.update([5, 6])
print(s)

{1, 2, 3, 4, 5, 6}

#### 3. remove()
Removes a specific element from the set.

In [21]:
s.remove(2)
print(s)

{1, 3, 4, 5, 6}

#### 4. discard()
Removes an element without raising an error if the element does not exist.

In [22]:
s.discard(10)
print(s)

{1, 3, 4, 5, 6}

#### 5. pop()
Removes and returns a random element from the set.

In [23]:
x = s.pop()
print(x)
print(s)

1
{3, 4, 5, 6}

#### 6. clear()
Removes all elements from the set.

In [24]:
s.clear()
print(s)

set()

#### 7. union()
Returns the union of two sets.

In [25]:
a = {1, 2, 3}
b = {3, 4, 5}
print(a.union(b))

{1, 2, 3, 4, 5}

#### 8. intersection()
Returns common elements between sets.

In [26]:
print(a.intersection(b))

{3}

### Dictionary

- Dictionaries store data as key–value pairs.
- Keys must be unique.
- Dictionaries are mutable.
- Used to represent structured data.

**Syntax:**
$$
\text{dict\_name} = \{ \text{key} : \text{value} \}
$$

In [27]:
student = {
    "name": "Alice",
    "age": 22,
    "course": "AI"
}

print(student)

{'name': 'Alice', 'age': 22, 'course': 'AI'}

### Dictionary Methods
Dictionary methods are used to access, modify, and manage key–value pairs.

#### 1. get()

Returns the value of a specified key.

In [28]:
student = {"name": "Alice", "age": 22}
print(student.get("name"))

Alice

#### 2. keys()

Returns all keys in the dictionary.

In [29]:
print(student.keys())

dict_keys(['name', 'age'])

#### 3. values()

Returns all values in the dictionary.

In [30]:
print(student.values())

dict_values(['Alice', 22])

#### 4. items()

Returns all key–value pairs.

In [31]:
print(student.items())

dict_items([('name', 'Alice'), ('age', 22)])

#### 5. update()

Updates the dictionary with new key–value pairs.

In [32]:
student.update({"course": "AI"})
print(student)

{'name': 'Alice', 'age': 22, 'course': 'AI'}

#### 6. pop()

Removes and returns the value of a specified key.

In [33]:
student.pop("age")
print(student)

{'name': 'Alice', 'course': 'AI'}

#### 7. popitem()

Removes and returns the last inserted key–value pair.

In [34]:
student.popitem()
print(student)

{'name': 'Alice'}

#### 8. clear()

Removes all elements from the dictionary.

In [35]:
student.clear()
print(student)

{}

#### 9. copy()

Creates a shallow copy of the dictionary.

In [36]:
d1 = {"a": 1, "b": 2}
d2 = d1.copy()
print(d2)

{'a': 1, 'b': 2}