# Covariance
covariance tells you whether two variables move together.

- positive covariance --> X variable increases y also increases
- Negative covariance --> X variable increases y also decreases
- Zero covariance --> no relation b/w the variables
- NOTE:: covariance shows only direction not strength

In [2]:
import pandas as pd
df=pd.read_csv(r"C:\Resource\Sample data\Study.csv")
df

  Study_Hours\tMarks
0          2.9\t27.0
1          5.8\t61.0
2          4.7\t45.0
3          4.0\t38.0
4          1.8\t19.0
5           1.8\t8.0
6           1.3\t4.0
7          5.3\t50.0
8          4.0\t35.0
9          4.5\t47.0